In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 1번 주제

In [ ]:
import pandas as pd

# 데이터 불러오기
data_01 = pd.read_csv('/content/drive/MyDrive/KOPIS/pre_processing_data/2019_07_09/df2019_07_09.csv')
data_01.head()

   성별    연령  장르명     세부장르명 공연지역명 출연진내용 제작진내용 오픈런 여부
0   1  1976  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
1   1  1976  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
2   2  1956  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
3   2  1956  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
4   2  1956  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y

### 연령

In [ ]:
data_01.isnull().sum()

성별              0
연령              0
장르명             0
세부장르명           0
공연지역명           0
출연진내용     1277994
제작진내용     2806719
오픈런 여부          0
dtype: int64

In [ ]:
data_01['연령'].value_counts()

0       3390638
1983     130095
1982     124722
1981     121060
1980     117862
         ...
1924          6
2017          4
1923          2
2061          2
1904          2
Name: 연령, Length: 113, dtype: int64

In [ ]:
data_01.sort_values('연령',ascending=False)

,성별,연령,장르명,세부장르명,공연지역명,출연진내용,제작진내용,오픈런 여부
3882896,1,2069,뮤지컬,뮤지컬,서울,"최정원, 신영숙, 홍지민, 김영주, 박준면, 오기쁨, 남경주 등",NaN,N
3882893,1,2069,뮤지컬,뮤지컬,서울,"최정원, 신영숙, 홍지민, 김영주, 박준면, 오기쁨, 남경주 등",NaN,N
3882891,1,2069,뮤지컬,뮤지컬,서울,"최정원, 신영숙, 홍지민, 김영주, 박준면, 오기쁨, 남경주 등",NaN,N
3882890,1,2069,뮤지컬,뮤지컬,서울,"최정원, 신영숙, 홍지민, 김영주, 박준면, 오기쁨, 남경주 등",NaN,N
3882894,1,2069,뮤지컬,뮤지컬,서울,"최정원, 신영숙, 홍지민, 김영주, 박준면, 오기쁨, 남경주 등",NaN,N
...,...,...,...,...,...,...,...,...
3508441,0,0,뮤지컬,뮤지컬,서울,"최정원, 신영숙, 홍지민, 김영주, 박준면, 오기쁨, 남경주 등",NaN,N
3508442,0,0,뮤지컬,뮤지컬,서울,"최정원, 신영숙, 홍지민, 김영주, 박준면, 오기쁨, 남경주 등",NaN,N
3508443,0,0,뮤지컬,뮤지컬,서울,"최정원, 신영숙, 홍지민, 김영주, 박준면, 오기쁨, 남경주 등",NaN,N
3508444,0,0,뮤지컬,뮤지컬,서울,"최정원, 신영숙, 홍지민, 김영주, 박준면, 오기쁨, 남경주 등",NaN,N
3018177,0,0,뮤지컬,넌버벌 퍼포먼스,서울,"손석배, 유승수, 황요한, 김문수, 김대호, 조기철, 이한범 등",송승환,Y

In [ ]:
data_01[data_01['연령']>=2020].value_counts()

성별  연령    장르명  세부장르명  공연지역명  출연진내용                                제작진내용            오픈런 여부
0   2020  뮤지컬  뮤지컬    서울     한지상,민우혁, 박은태, 문종원, 박민성, 김지우, 이병준 등   이종규, 왕용범, 이성준 등  N         47
2   2030  뮤지컬  뮤지컬    서울     정성화, 양준모, 김도형, 이정열, 정의욱, 허민진, 정재은 등  양영일, 안재승, 한아름 등  N          6
1   2061  뮤지컬  뮤지컬    경상도    민우혁, 전동석, 윤공주, 김봉환, 이희정, 이정화, 민경아 등  신춘수, 원미솔, 오필영 등  N          2
dtype: int64

In [ ]:
data_01[data_01['연령']>=2020].value_counts()

성별  연령    장르명  세부장르명  공연지역명  출연진내용                                제작진내용            오픈런 여부
0   2020  뮤지컬  뮤지컬    서울     한지상,민우혁, 박은태, 문종원, 박민성, 김지우, 이병준 등   이종규, 왕용범, 이성준 등  N         47
2   2030  뮤지컬  뮤지컬    서울     정성화, 양준모, 김도형, 이정열, 정의욱, 허민진, 정재은 등  양영일, 안재승, 한아름 등  N          6
1   2061  뮤지컬  뮤지컬    경상도    민우혁, 전동석, 윤공주, 김봉환, 이희정, 이정화, 민경아 등  신춘수, 원미솔, 오필영 등  N          2
dtype: int64

In [ ]:
data_01[data_01]

In [ ]:
data_01['연령'] = data_01['연령'].apply(lambda x: 1920 if x == 2020 else 1930 if x == 2030 else 1961 if x == 2061 else 1969 if x == 2069 else x)

In [ ]:
def age(x):
  if x == 2020: return 1920
  elif x == 2030: return 1930
  elif x == 2061: return 1961
  else: return x
data_01['연령'] = data_01['연령'].apply(age)

In [ ]:
data_01[data_01['연령']>2000].sort_index(ascending=True)

,성별,연령,장르명,세부장르명,공연지역명,출연진내용,제작진내용,오픈런 여부
1935,0,2009,무용,발레,서울,"김승언, 양이배, 윤오성, 오동구, 도윤현, 장선국, 황경호 등","최진수, 전은선, 제임스 전 등",N
1936,0,2010,무용,발레,서울,"김승언, 양이배, 윤오성, 오동구, 도윤현, 장선국, 황경호 등","최진수, 전은선, 제임스 전 등",N
13618,0,2003,뮤지컬,뮤지컬,서울,"신혜선, 김영주, 정은빈, 우서라, 신우석, 문유란, 오태후 등","김영욱, 김철현, 윤성민 등",N
14027,0,2003,뮤지컬,뮤지컬,서울,NaN,NaN,N
14028,0,2003,뮤지컬,뮤지컬,서울,NaN,NaN,N
...,...,...,...,...,...,...,...,...
6033841,2,2001,연극,연극,서울,"김다현, 에녹, 김규종, 이정호, 강지혜, 진태화, 황성훈 등","권혁미, 윤상원, 이범재 등",N
6035571,1,2001,연극,연극,서울,"최지영, 신윤철, 이창기, 정서주, 양은진, 허윤지, 장용 등","양지모, 손형민",Y
6035572,1,2001,연극,연극,서울,"최지영, 신윤철, 이창기, 정서주, 양은진, 허윤지, 장용 등","양지모, 손형민",Y
6035573,1,2001,연극,연극,서울,"최지영, 신윤철, 이창기, 정서주, 양은진, 허윤지, 장용 등","양지모, 손형민",Y
6035574,1,2001,연극,연극,서울,"최지영, 신윤철, 이창기, 정서주, 양은진, 허윤지, 장용 등","양지모, 손형민",Y

### 오픈런 여부

In [ ]:
data_01[data_01['오픈런 여부']=='Y']

         성별    연령  장르명     세부장르명 공연지역명 출연진내용 제작진내용 오픈런 여부
0         1  1976  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
1         1  1976  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
2         2  1956  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
3         2  1956  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
4         2  1956  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
...      ..   ...  ...       ...   ...   ...   ...    ...
6036270   0     0  뮤지컬  넌버벌 퍼포먼스   제주도   NaN   NaN      Y
6036271   0     0  뮤지컬  넌버벌 퍼포먼스   제주도   NaN   NaN      Y
6036272   0     0  뮤지컬  넌버벌 퍼포먼스   제주도   NaN   NaN      Y
6036273   0     0  뮤지컬  넌버벌 퍼포먼스   제주도   NaN   NaN      Y
6036274   0     0  뮤지컬  넌버벌 퍼포먼스   제주도   NaN   NaN      Y

[986106 rows x 8 columns]

# 2번 주제

In [ ]:
import pandas as pd

# 데이터 불러오기
data_02 = pd.read_csv('/content/drive/MyDrive/KOPIS/pre_processing_data/2019_07_09/df2019_07_09_2.csv')
data_02.head()

,전송사업자명,공연시설코드,공연장코드,좌석수,공연일시,입장권고유번호,예매/취소일시,예매/취소구분,예매/취소매수,예매/취소금액,...,결제수단명(전송처),장당금액,공연시작일자,공연종료일자,공연지역명,출연진내용,내한공연 여부,판매종료일시,좌석등급,판매좌석수
0,네이버N예약,FC223339,FC223339-01,356,2019-08-01 00:00,50519898_0,2019-07-11 12:56,1,1,20000,...,카드,20000,2012-04-17,2019-12-31,서울,NaN,N,9999/12/31 12:00:00,전석(55000),20.0
1,네이버N예약,FC223339,FC223339-01,356,2019-08-01 00:00,50519898_1,2019-07-11 12:56,1,1,20000,...,카드,20000,2012-04-17,2019-12-31,서울,NaN,N,9999/12/31 12:00:00,전석(55000),20.0
2,네이버N예약,FC223339,FC223339-01,356,2019-08-01 00:00,51707074_0,2019-07-22 02:24,1,1,20000,...,무통장,20000,2012-04-17,2019-12-31,서울,NaN,N,9999/12/31 12:00:00,전석(55000),20.0
3,네이버N예약,FC223339,FC223339-01,356,2019-08-01 00:00,51707074_0,2019-07-24 00:00,2,1,20000,...,무통장,20000,2012-04-17,2019-12-31,서울,NaN,N,9999/12/31 12:00:00,전석(55000),20.0
4,네이버N예약,FC223339,FC223339-01,356,2019-08-01 00:00,51707074_1,2019-07-22 02:24,1,1,20000,...,무통장,20000,2012-04-17,2019-12-31,서울,NaN,N,9999/12/31 12:00:00,전석(55000),20.0

In [ ]:
### 데이터 전처리 함수
def pre_processing(exdata):
  # 결측치 제거
  exdata = exdata.dropna()
  # vip석만 추출
  exdata = exdata[exdata['좌석등급'].str.contains('VIP석')]
  # 장당금액 10만원 이상만 추출
  exdata = exdata[exdata['장당금액']>=100000]
  # 장당금액 30만원 이하만 추출
  exdata = exdata[exdata['장당금액']<=300000]
  # 예매/취소방식명(관리시스템)이 모바일과 웹인 경우만 추출
  exdata = exdata[exdata['예매/취소방식코드'].isin([1, 2])]
  # 시간데이터 datetime 형식 변경해주기
  exdata['예매/취소일시'] = pd.to_datetime(exdata['예매/취소일시'])
  # 바꾼 데이터로 날짜 분리하기
  exdata['날짜'] = exdata['예매/취소일시'].dt.strftime('%Y%m%d')
  exdata['월'] = exdata['예매/취소일시'].dt.strftime('%m')
  exdata['일'] = exdata['예매/취소일시'].dt.strftime('%d')
  return exdata

In [ ]:
# 함수적용시키기
data_19_07_09 = pre_processing(data_02)

,전송사업자명,공연시설코드,공연장코드,좌석수,공연일시,입장권고유번호,예매/취소일시,예매/취소구분,예매/취소매수,예매/취소금액,...,장당금액,공연시작일자,공연종료일자,공연지역명,출연진내용,내한공연 여부,판매종료일시,좌석등급,판매좌석수,날짜
52880,세종문화회관,FC222242,FC222242-01,3022,2019-08-01 19:00,2019062510210300100003390001,2019-06-25 14:03:00,1,1,140000,...,140000,2019-06-15,2019-08-04,서울,"김준수, 엄기준, 이지훈, 박강현, 신영숙, 장은아, 김주현 등",N,2019/08/04 00:00:00,"VIP석(화,수,목 정가)(140000), R석(화,수,목 정가)(120000), ...",572.0,20190625
52881,세종문화회관,FC222242,FC222242-01,3022,2019-08-01 19:00,2019062510210300100003390001,2019-06-25 14:03:00,2,1,140000,...,140000,2019-06-15,2019-08-04,서울,"김준수, 엄기준, 이지훈, 박강현, 신영숙, 장은아, 김주현 등",N,2019/08/04 00:00:00,"VIP석(화,수,목 정가)(140000), R석(화,수,목 정가)(120000), ...",572.0,20190625
52882,세종문화회관,FC222242,FC222242-01,3022,2019-08-01 19:00,2019062510210300100003420001,2019-06-25 14:03:00,1,1,140000,...,140000,2019-06-15,2019-08-04,서울,"김준수, 엄기준, 이지훈, 박강현, 신영숙, 장은아, 김주현 등",N,2019/08/04 00:00:00,"VIP석(화,수,목 정가)(140000), R석(화,수,목 정가)(120000), ...",572.0,20190625
52883,세종문화회관,FC222242,FC222242-01,3022,2019-08-01 19:00,2019062510210300100003420001,2019-06-27 14:03:00,2,1,140000,...,140000,2019-06-15,2019-08-04,서울,"김준수, 엄기준, 이지훈, 박강현, 신영숙, 장은아, 김주현 등",N,2019/08/04 00:00:00,"VIP석(화,수,목 정가)(140000), R석(화,수,목 정가)(120000), ...",578.0,20190627
52884,세종문화회관,FC222242,FC222242-01,3022,2019-08-01 19:00,2019062510210300100004250001,2019-06-25 14:04:00,1,1,140000,...,140000,2019-06-15,2019-08-04,서울,"김준수, 엄기준, 이지훈, 박강현, 신영숙, 장은아, 김주현 등",N,2019/08/04 00:00:00,"VIP석(화,수,목 정가)(140000), R석(화,수,목 정가)(120000), ...",572.0,20190625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6021289,멜론티켓,FC222233,FC222233-01,1242,2019-09-29 19:00,M199998820101,2019-09-14 18:54:00,2,1,105000,...,105000,2019-08-24,2019-11-17,서울,"김소현, 김소향, 장은아, 김연지, 박강현, 정택운, 황민현 등",N,2019/10/20 12:59:00,"VIP석(화,수,목 정가)(140000), R석(화,수,목 정가)(120000), ...",37546.0,20190914
6021290,멜론티켓,FC223451,FC223451-01,1954,2019-09-29 19:00,M190931190101,2019-09-28 00:06:00,1,1,144000,...,144000,2019-09-21,2019-09-29,경상도,"코너 글룰리, 카산드라 맥고완, 마크 앤더슨, 이모진 브룩 등",Y,2019/09/28 11:00:00,"VIP석(160000), R석(130000), S석(110000), A석(90000...",21340.0,20190928
6021291,멜론티켓,FC223451,FC223451-01,1954,2019-09-29 19:00,M190931190101,2019-09-28 01:56:00,2,1,144000,...,144000,2019-09-21,2019-09-29,경상도,"코너 글룰리, 카산드라 맥고완, 마크 앤더슨, 이모진 브룩 등",Y,2019/09/28 11:00:00,"VIP석(160000), R석(130000), S석(110000), A석(90000...",21340.0,20190928
6021292,멜론티켓,FC223451,FC223451-01,1954,2019-09-29 19:00,M198055950101,2019-09-23 22:38:00,1,1,160000,...,160000,2019-09-21,2019-09-29,경상도,"코너 글룰리, 카산드라 맥고완, 마크 앤더슨, 이모진 브룩 등",Y,2019/09/28 11:00:00,"VIP석(160000), R석(130000), S석(110000), A석(90000...",21340.0,20190923
6021293,멜론티켓,FC223451,FC223451-01,1954,2019-09-29 19:00,M198055950102,2019-09-23 22:38:00,1,1,160000,...,160000,2019-09-21,2019-09-29,경상도,"코너 글룰리, 카산드라 맥고완, 마크 앤더슨, 이모진 브룩 등",Y,2019/09/28 11:00:00,"VIP석(160000), R석(130000), S석(110000), A석(90000...",21340.0,20190923

In [ ]:
data_02 = data_02.dropna()

In [ ]:
# vip석만 추출
rank_vip = data_02[data_02['좌석등급'].str.contains('VIP석')]

In [ ]:
# 장당금액 10만원 이상만 추출
rank_vip = rank_vip[rank_vip['장당금액']>=100000]
rank_vip = rank_vip[rank_vip['장당금액']<=300000]

In [ ]:
rank_vip.columns

Index(['전송사업자명', '공연시설코드', '공연장코드', '좌석수', '공연일시', '입장권고유번호', '예매/취소일시',
       '예매/취소구분', '예매/취소매수', '예매/취소금액', '예매/취소방식코드', '예매/취소방식명(관리시스템)',
       '예매/취소방식명(전송처)', '결제수단코드', '결제수단명(관리시스템)', '결제수단명(전송처)', '장당금액',
       '공연시작일자', '공연종료일자', '공연지역명', '출연진내용', '내한공연 여부', '판매종료일시', '좌석등급',
       '판매좌석수'],
      dtype='object')

In [ ]:
rank_vip['예매/취소방식코드'].value_counts()

2     59857
1     55638
3      7509
4      4315
99     2727
Name: 예매/취소방식코드, dtype: int64

In [ ]:
# 예매/취소방식명(관리시스템)이 모바일과 웹인 경우만 추출
rank_vip = rank_vip[rank_vip['예매/취소방식코드'].isin([1, 2])]

In [ ]:
rank_vip['예매/취소일시']

52880      2019-06-25 14:03
52881      2019-06-25 14:03
52882      2019-06-25 14:03
52883      2019-06-27 14:03
52884      2019-06-25 14:04
                 ...
6021289    2019-09-14 18:54
6021290    2019-09-28 00:06
6021291    2019-09-28 01:56
6021292    2019-09-23 22:38
6021293    2019-09-23 22:38
Name: 예매/취소일시, Length: 115495, dtype: object

In [ ]:
# 시간데이터 datetime 형식 변경해주기
rank_vip['예매/취소일시'] = pd.to_datetime(rank_vip['예매/취소일시'])

# 바꾼 데이터로 날짜와 시간 분리하기
## 날짜
rank_vip['날짜'] = rank_vip['예매/취소일시'].dt.strftime('%Y%m%d')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy