In [ ]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
def groupby_age(x):
    if x <= 13:
        score = '0~13세'
    elif x <= 19:
        score = '14~19세'
    elif x < 30:
        score = '20대'
    elif x < 40:
        score = '30대'
    elif x < 50:
        score = '40대'
    elif x < 60:
        score = '50대'
    elif x < 70:
        score = '60대'                 
    else:
        score = '70세 이상'
    return score

In [ ]:
def pre_processing(exdata):
  exdata = exdata[exdata['연령']!=0]
  exdata = exdata[exdata['성별']!=0]
  exdata = exdata[exdata['연령']<=2021] # 이상치 제거
  del exdata['출연진내용']
  del exdata['제작진내용']
  del exdata['오픈런 여부']
  return exdata

In [ ]:
def age(exdata):
  exdata['나이'] = 2022 - exdata['연령'] + 1 # 나이 계산
  exdata["연령대"] = exdata["나이"].apply(lambda x: groupby_age(x))
  return exdata

# 2019

## 2019_07_09

### 데이터 불러오기

In [ ]:
path = '/content/drive/MyDrive/공모전/KOPIS/pre_processing_data/'

In [ ]:
import pandas as pd

data_07_09 = pd.read_csv(path + '2019_07_09/df2019_07_09.csv')
data_07_09.head()

   성별    연령  장르명     세부장르명 공연지역명 출연진내용 제작진내용 오픈런 여부
0   1  1976  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
1   1  1976  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
2   2  1956  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
3   2  1956  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y
4   2  1956  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y

### 성별/연령에 대한 정보가 없는 행은 삭제

6036354 -> 2234209

In [ ]:
data_07_09 = pre_processing(data_07_09)
data_07_09 = age(data_07_09)

## 2019_10_11

4675632 -> 1735080

In [ ]:
import pandas as pd

data_10_11 = pd.read_csv(path+'2019_10_11/df2019_10_11.csv')
data_10_11.head()

   성별    연령 장르명 세부장르명 공연지역명 출연진내용 제작진내용 오픈런 여부
0   2  1981  국악  연희혼합   경상도   NaN   NaN      N
1   2  1981  국악  연희혼합   경상도   NaN   NaN      N
2   2  1981  국악  연희혼합   경상도   NaN   NaN      N
3   2  1981  국악  연희혼합   경상도   NaN   NaN      N
4   2  1981  국악  연희혼합   경상도   NaN   NaN      N

In [ ]:
data_10_11 = pre_processing(data_10_11)
data_10_11 = age(data_10_11)

In [ ]:
data_10_11.shape

(1735083, 7)

## 2019 12

3525482 -> 1474049

In [ ]:
import pandas as pd

data_12 = pd.read_csv(path+'2019_12/df2019_12.csv')
data_12.head()

   성별  연령  장르명 세부장르명 공연지역명 출연진내용 제작진내용 오픈런 여부
0   0   0  뮤지컬   뮤지컬   경상도   NaN   NaN      N
1   0   0  뮤지컬   뮤지컬   경상도   NaN   NaN      N
2   0   0  뮤지컬   뮤지컬   경상도   NaN   NaN      N
3   0   0  뮤지컬   뮤지컬   경상도   NaN   NaN      N
4   0   0  뮤지컬   뮤지컬   경상도   NaN   NaN      N

In [ ]:
data_12 = pre_processing(data_12)
data_12 = age(data_12)

In [ ]:
data_12.shape

(1474059, 7)

## 2019 합치기

2019.shape = (5443338, 10)

In [ ]:
data_2019 = pd.concat([data_07_09, data_10_11,data_12], axis = 0)

In [ ]:
data_2019 = data_2019.reset_index()
del data_2019['index']
data_2019.head()

   성별    연령  장르명     세부장르명 공연지역명  나이  연령대
0   1  1976  뮤지컬  넌버벌 퍼포먼스    서울  47  40대
1   1  1976  뮤지컬  넌버벌 퍼포먼스    서울  47  40대
2   2  1956  뮤지컬  넌버벌 퍼포먼스    서울  67  60대
3   2  1956  뮤지컬  넌버벌 퍼포먼스    서울  67  60대
4   2  1956  뮤지컬  넌버벌 퍼포먼스    서울  67  60대

In [ ]:
data_2019.to_csv('data_2019.csv')

# 2020

## 2020_01_04

5316133 -> 2439811

In [ ]:
import pandas as pd

path = '/content/drive/MyDrive/공모전/KOPIS/pre_processing_data/'

data_2020_01_04 = pd.read_csv(path+'2020_01_04/df2020_01_04.csv')
data_2020_01_04.head()

   성별  연령  장르명 세부장르명 공연지역명 출연진내용 제작진내용 오픈런 여부
0   0   0  뮤지컬   뮤지컬   경기도   NaN   NaN      N
1   0   0  뮤지컬   뮤지컬   경기도   NaN   NaN      N
2   0   0  뮤지컬   뮤지컬   경기도   NaN   NaN      N
3   0   0  뮤지컬   뮤지컬   경기도   NaN   NaN      N
4   0   0  뮤지컬   뮤지컬   경기도   NaN   NaN      N

In [ ]:
data_2020_01_04 = pre_processing(data_2020_01_04)
data_2020_01_04 = age(data_2020_01_04)

In [ ]:
data_2020_01_04.shape

(2439811, 7)

## 2020_05_10

5298074 -> 2760254

In [ ]:
data_2020_05_10 = pd.read_csv(path+'2020_05_10/df2020_05_10.csv')
data_2020_05_10.head()

,성별,연령,장르명,세부장르명,공연지역명,출연진내용,제작진내용,오픈런 여부
0,2,1995,연극,연극,서울,"박세인, 김별, 경지은, 이종민, 전선우, 지승태, 최지혜 등","김미란, 허선혜, 김옥란 등",N
1,2,1988,연극,연극,서울,"박세인, 김별, 경지은, 이종민, 전선우, 지승태, 최지혜 등","김미란, 허선혜, 김옥란 등",N
2,2,1996,연극,연극,서울,"박세인, 김별, 경지은, 이종민, 전선우, 지승태, 최지혜 등","김미란, 허선혜, 김옥란 등",N
3,2,1999,연극,연극,서울,"박세인, 김별, 경지은, 이종민, 전선우, 지승태, 최지혜 등","김미란, 허선혜, 김옥란 등",N
4,0,0,연극,연극,서울,"박세인, 김별, 경지은, 이종민, 전선우, 지승태, 최지혜 등","김미란, 허선혜, 김옥란 등",N

In [ ]:
data_2020_05_10 = pre_processing(data_2020_05_10)
data_2020_05_10 = age(data_2020_05_10)

In [ ]:
data_2020_05_10.shape

(2760255, 7)

## 2020_11_12

2446720 -> 1386720

In [ ]:
data_2020_11_12 = pd.read_csv(path +'2020_11_12/df2020_11_12.csv')
data_2020_11_12.head()

   성별  연령  장르명     세부장르명 공연지역명 출연진내용 제작진내용 오픈런 여부
0   0   0  뮤지컬  넌버벌 퍼포먼스   경상도   NaN   NaN      N
1   0   0  뮤지컬  넌버벌 퍼포먼스   경상도   NaN   NaN      N
2   0   0  뮤지컬  넌버벌 퍼포먼스   경상도   NaN   NaN      N
3   0   0  뮤지컬  넌버벌 퍼포먼스   경상도   NaN   NaN      N
4   0   0  뮤지컬  넌버벌 퍼포먼스   경상도   NaN   NaN      N

In [ ]:
data_2020_11_12 = pre_processing(data_2020_11_12)
data_2020_11_12 = age(data_2020_11_12)

In [ ]:
data_2020_11_12.shape

(1386720, 7)

## 2020 합치기

2020.shape = (6586785, 10)

In [ ]:
data_2020 = pd.concat([data_2020_01_04, data_2020_05_10,data_2020_11_12], axis = 0)

In [ ]:
data_2020 = data_2020.reset_index()
del data_2020['index']
data_2020.head()

   성별    연령  장르명 세부장르명 공연지역명  나이  연령대
0   1  1988  뮤지컬   뮤지컬    서울  35  30대
1   1  1988  뮤지컬   뮤지컬    서울  35  30대
2   1  1988  뮤지컬   뮤지컬    서울  35  30대
3   2  1981  뮤지컬   뮤지컬    서울  42  40대
4   2  1981  뮤지컬   뮤지컬    서울  42  40대

In [ ]:
data_2020.to_csv('data_2020.csv')

# 2021

## 2021_01_05

4691389 -> 2746612

In [ ]:
path = '/content/drive/MyDrive/공모전/KOPIS/pre_processing_data/'
data_2021_01_05 = pd.read_csv(path + '2021_01_05/df2021_01_05.csv')
data_2021_01_05.head()

   성별    연령  장르명 세부장르명 공연지역명 출연진내용 제작진내용 오픈런 여부
0   2  1988  뮤지컬   뮤지컬    서울   NaN   NaN      Y
1   2  1988  뮤지컬   뮤지컬    서울   NaN   NaN      Y
2   2  1988  뮤지컬   뮤지컬    서울   NaN   NaN      Y
3   2  2000  뮤지컬   뮤지컬    서울   NaN   NaN      Y
4   2  2000  뮤지컬   뮤지컬    서울   NaN   NaN      Y

In [ ]:
data_2021_01_05 = pre_processing(data_2021_01_05)
data_2021_01_05 = age(data_2021_01_05)

In [ ]:
data_2021_01_05.shape

(2746639, 7)

## 2021_06_08

4770695 -> 2806369

In [ ]:
data_2021_06_08 = pd.read_csv(path + '2021_06_08/df2021_06_08.csv')
data_2021_06_08.head()

,성별,연령,장르명,세부장르명,공연지역명,출연진내용,제작진내용,오픈런 여부
0,0,0,뮤지컬,뮤지컬,서울,"장인혜, 김지현, 문용현, 유환, 최승환, 신재성, 김영민 등","정준, 조한나, 오루피나",N
1,0,0,뮤지컬,뮤지컬,서울,"장인혜, 김지현, 문용현, 유환, 최승환, 신재성, 김영민 등","정준, 조한나, 오루피나",N
2,0,0,뮤지컬,뮤지컬,서울,"장인혜, 김지현, 문용현, 유환, 최승환, 신재성, 김영민 등","정준, 조한나, 오루피나",N
3,0,0,뮤지컬,뮤지컬,서울,"장인혜, 김지현, 문용현, 유환, 최승환, 신재성, 김영민 등","정준, 조한나, 오루피나",N
4,0,0,뮤지컬,뮤지컬,서울,"장인혜, 김지현, 문용현, 유환, 최승환, 신재성, 김영민 등","정준, 조한나, 오루피나",N

In [ ]:
data_2021_06_08 = pre_processing(data_2021_06_08)
data_2021_06_08 = age(data_2021_06_08)

In [ ]:
data_2021_06_08.shape

(2806459, 7)

## 2021_09_11

5005169 -> 2846557

In [ ]:
data_2021_09_11 = pd.read_csv(path+'2021_09_11/df2021_09_11.csv')
data_2021_09_11.head()

   성별  연령  장르명 세부장르명 공연지역명 출연진내용            제작진내용 오픈런 여부
0   0   0  뮤지컬   뮤지컬   전라도   NaN  백희나, 전수양, 장희선 등      N
1   0   0  뮤지컬   뮤지컬   전라도   NaN  백희나, 전수양, 장희선 등      N
2   0   0  뮤지컬   뮤지컬   전라도   NaN  백희나, 전수양, 장희선 등      N
3   0   0  뮤지컬   뮤지컬   전라도   NaN  백희나, 전수양, 장희선 등      N
4   0   0  뮤지컬   뮤지컬   전라도   NaN  백희나, 전수양, 장희선 등      N

In [ ]:
data_2021_09_11 = pre_processing(data_2021_09_11)
data_2021_09_11 = age(data_2021_09_11)

In [ ]:
data_2021_09_11.shape

(2846612, 7)

## 2021 12

2838520 -> 1687764

In [ ]:
data_2021_12 = pd.read_csv(path+'2021_12/df2021_12.csv')
data_2021_12.head()

   성별    연령 장르명 세부장르명 공연지역명                                출연진내용 제작진내용 오픈런 여부
0   0     0  연극    연극    서울  지인호, 한종두, 채현우, 유승옥, 박은경, 임윤서, 남기형 등   김두환      Y
1   0     0  연극    연극    서울  지인호, 한종두, 채현우, 유승옥, 박은경, 임윤서, 남기형 등   김두환      Y
2   0     0  연극    연극    서울  지인호, 한종두, 채현우, 유승옥, 박은경, 임윤서, 남기형 등   김두환      Y
3   0     0  연극    연극    서울  지인호, 한종두, 채현우, 유승옥, 박은경, 임윤서, 남기형 등   김두환      Y
4   1  1986  연극    연극    서울  지인호, 한종두, 채현우, 유승옥, 박은경, 임윤서, 남기형 등   김두환      Y

In [ ]:
data_2021_12 = pre_processing(data_2021_12)
data_2021_12 = age(data_2021_12)

In [ ]:
data_2021_12.shape

(1687830, 7)

## 2021 합치기

2021.shape = (10087302, 10)

In [ ]:
data_2021 = pd.concat([data_2021_01_05, data_2021_06_08,data_2021_09_11,data_2021_12], axis = 0)

In [ ]:
data_2021 = data_2021.reset_index()
del data_2021['index']
data_2021.head()

   성별    연령  장르명 세부장르명 공연지역명  나이  연령대
0   2  1988  뮤지컬   뮤지컬    서울  35  30대
1   2  1988  뮤지컬   뮤지컬    서울  35  30대
2   2  1988  뮤지컬   뮤지컬    서울  35  30대
3   2  2000  뮤지컬   뮤지컬    서울  23  20대
4   2  2000  뮤지컬   뮤지컬    서울  23  20대

In [ ]:
data_2021.to_csv('data_2021.csv')

# 2022

## 2022_01_02

4021615 -> 18036

In [ ]:
path = '/content/drive/MyDrive/공모전/KOPIS/pre_processing_data/'
data_2022_01_02 = pd.read_csv(path+'2022_01_02/df2022_01_02.csv')
data_2022_01_02.head()

,성별,연령,장르명,세부장르명,공연지역명,출연진내용,제작진내용,오픈런 여부
0,2,0,뮤지컬,뮤지컬,서울,"조형균, 박강현, 최재림, 강홍석, 김선영, 박혜나, 김환희 등","박소영, 한정림, 홍유선 등",N
1,2,0,뮤지컬,뮤지컬,서울,"조형균, 박강현, 최재림, 강홍석, 김선영, 박혜나, 김환희 등","박소영, 한정림, 홍유선 등",N
2,2,0,뮤지컬,뮤지컬,서울,"조형균, 박강현, 최재림, 강홍석, 김선영, 박혜나, 김환희 등","박소영, 한정림, 홍유선 등",N
3,2,0,뮤지컬,뮤지컬,서울,"조형균, 박강현, 최재림, 강홍석, 김선영, 박혜나, 김환희 등","박소영, 한정림, 홍유선 등",N
4,2,0,뮤지컬,뮤지컬,서울,"조형균, 박강현, 최재림, 강홍석, 김선영, 박혜나, 김환희 등","박소영, 한정림, 홍유선 등",N

In [ ]:
data_2022_01_02 = pre_processing(data_2022_01_02)
data_2022_01_02 = age(data_2022_01_02)

In [ ]:
data_2022_01_02.shape

(18036, 7)

## 2022_03_04

3607873 -> 241146

In [ ]:
data_2022_03_04 = pd.read_csv(path +'2022_03_04/df2022_03_04.csv')
data_2022_03_04.head()

   성별    연령  장르명 세부장르명 공연지역명            출연진내용 제작진내용 오픈런 여부
0   0  2022  클래식    기악   경상도  줄리안 코바체프, 여미혜 등   NaN      N
1   0  2022  클래식    기악   경상도  줄리안 코바체프, 여미혜 등   NaN      N
2   0  2022  클래식    기악   경상도  줄리안 코바체프, 여미혜 등   NaN      N
3   0  2022  클래식    기악   경상도  줄리안 코바체프, 여미혜 등   NaN      N
4   0  2022  클래식    기악   경상도  줄리안 코바체프, 여미혜 등   NaN      N

In [ ]:
data_2022_03_04 = pre_processing(data_2022_03_04)
data_2022_03_04 = age(data_2022_03_04)

In [ ]:
data_2022_03_04.shape

(241146, 7)

## 2022_05_06

4680263 -> 2070125

In [ ]:
data_2022_05_06 = pd.read_csv(path+'2022_05_06/df2022_05_06.csv')
data_2022_05_06.head()

   성별  연령  장르명 세부장르명 공연지역명 출연진내용 제작진내용 오픈런 여부
0   0   0  클래식    기악   경상도   NaN   NaN      N
1   0   0  클래식    기악   경상도   NaN   NaN      N
2   0   0  클래식    기악   경상도   NaN   NaN      N
3   0   0  클래식    기악   경상도   NaN   NaN      N
4   0   0  클래식    기악   경상도   NaN   NaN      N

In [ ]:
data_2022_05_06 = pre_processing(data_2022_05_06)
data_2022_05_06 = age(data_2022_05_06)

In [ ]:
data_2022_05_06.shape

(2070125, 7)

## 2022 합치기

2022.shape = (2329307, 10)

In [ ]:
data_2022 = pd.concat([data_2022_01_02, data_2022_03_04,data_2022_05_06], axis = 0)

In [ ]:
data_2022 = data_2022.reset_index()
del data_2022['index']
data_2022.head()

   성별    연령  장르명 세부장르명 공연지역명  나이    연령대
0   1  2021   연극    연극   경상도   2  0~13세
1   2  1964   연극    연극   경상도  59    50대
2   2  1964   연극    연극   경상도  59    50대
3   1  1990   연극    연극   경상도  33    30대
4   1  2021  뮤지컬   뮤지컬    서울   2  0~13세

In [ ]:
data_2022.to_csv('data_2022.csv')