In [5]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)
pd.set_option('mode.chained_assignment',  None)

plt.rc('font',family='malgun gothic')

# BUS_SPEED_DATA
BUS_SPEED_DATA = pd.read_csv('./data/BUS_SPEED_DATA/WEEKDAY/BUS_SPEED_DATA_0502.csv', sep = '|')
BUS_SPEED_DATA = BUS_SPEED_DATA[['YMD_ID', 'HH_ID', 'BUS_ROUTE_ID', 'DAY_CLS', 'START_NODE_ID', 'END_NODE_ID', 'TRVL_SPD', 'TRVL_TM']]

# NODE_ID
node_file = './data/NODE_LINK/MOCT_NODE.shp'
NODE_ID = gpd.read_file(node_file, encoding = 'cp949')
NODE_ID = NODE_ID[['NODE_ID', 'geometry']]

- 5월 1일(일)
- **5월 5일(목) : 어린이날**
- 5월 7일(토)
- **5월 8일(일) : 부처님 오신날**
- 5월 14일(토)
- 5월 15일(일)
- 5월 21일(토)
- 5월 22일(일)
- 5월 28일(토)
- 5월 29일(일)

In [8]:
# BUS_SPEED_DATA
BUS_SPEED_DATA = pd.read_csv('./data/BUS_SPEED_DATA/WEEKDAY/BUS_SPEED_DATA_0502.csv', sep = '|')
BUS_SPEED_DATA = BUS_SPEED_DATA[['YMD_ID', 'HH_ID', 'BUS_ROUTE_ID', 'DAY_CLS', 'START_NODE_ID', 'END_NODE_ID', 'TRVL_SPD', 'TRVL_TM']]
BUS_SPEED_DATA.head()

,YMD_ID,HH_ID,BUS_ROUTE_ID,DAY_CLS,START_NODE_ID,END_NODE_ID,TRVL_SPD,TRVL_TM
0,20220502,0,30300001,1502,1860001700,1860001500,16.3,49
1,20220502,0,30300001,1502,1860001500,1860001700,20.7,39
2,20220502,0,30300001,1502,1860001400,1860021600,16.4,39
3,20220502,0,30300001,1502,1860023800,1860021600,33.4,25
4,20220502,0,30300001,1502,1860023800,1860026100,24.9,35

In [2]:
# BUS_SPEED_DATA = pd.read_csv('./data/BUS_SPEED_DATA/BUS_SPEED_DATA_0501.csv', sep = '|')
# BUS_SPEED_DATA = BUS_SPEED_DATA[['YMD_ID', 'HH_ID', 'BUS_ROUTE_ID', 'DAY_CLS', 'START_NODE_ID', 'END_NODE_ID', 'TRVL_SPD', 'TRVL_TM']]

In [21]:
BUS_SPEED_DATA_30300037 = BUS_SPEED_DATA[BUS_SPEED_DATA['BUS_ROUTE_ID']==30300037]
BUS_SPEED_DATA_30300037.head(2)

,YMD_ID,HH_ID,BUS_ROUTE_ID,DAY_CLS,START_NODE_ID,END_NODE_ID,TRVL_SPD,TRVL_TM
378,20220508,0,30300037,1501,1830007900,1830009400,19.2,49
379,20220508,0,30300037,1501,1830007900,1830009000,14.9,111

In [22]:
# 문자형으로 변환해야 오류 안남
BUS_SPEED_DATA_30300037['START_NODE_ID'] = BUS_SPEED_DATA_30300037['START_NODE_ID'].astype(str)
BUS_SPEED_DATA_30300037['END_NODE_ID'] = BUS_SPEED_DATA_30300037['END_NODE_ID'].astype(str)

In [36]:
# # 문자형으로 변환해야 오류 안남
# BUS_SPEED_DATA['START_NODE_ID'] = BUS_SPEED_DATA['START_NODE_ID'].astype(str)
# BUS_SPEED_DATA['END_NODE_ID'] = BUS_SPEED_DATA['END_NODE_ID'].astype(str)

In [23]:
# START_NODE_GEOMETRY MERGE
BUS_SPEED_DATA_30300037_MERGE = BUS_SPEED_DATA_30300037.merge(NODE_ID, left_on = 'START_NODE_ID', right_on = 'NODE_ID')
BUS_SPEED_DATA_30300037_MERGE.rename(columns = {'geometry' : 'START_NODE_GEOMETRY'}, inplace = True)
BUS_SPEED_DATA_30300037_MERGE = BUS_SPEED_DATA_30300037_MERGE[['YMD_ID', 'HH_ID', 'BUS_ROUTE_ID', 'DAY_CLS', 'START_NODE_ID', 'START_NODE_GEOMETRY', 'END_NODE_ID', 'TRVL_SPD', 'TRVL_TM']]
# END_NODE_GEOMETRY MERGE
BUS_SPEED_DATA_30300037_MERGE = BUS_SPEED_DATA_30300037_MERGE.merge(NODE_ID, left_on = 'END_NODE_ID', right_on = 'NODE_ID')
BUS_SPEED_DATA_30300037_MERGE.rename(columns = {'geometry' : 'END_NODE_GEOMETRY'}, inplace = True)
BUS_SPEED_DATA_30300037_MERGE = BUS_SPEED_DATA_30300037_MERGE[['YMD_ID', 'HH_ID', 'BUS_ROUTE_ID', 'DAY_CLS', 'START_NODE_ID', 'START_NODE_GEOMETRY', 'END_NODE_ID', 'END_NODE_GEOMETRY', 'TRVL_SPD', 'TRVL_TM']]

In [37]:
# # START_NODE_GEOMETRY MERGE
# BUS_SPEED_DATA_MERGE = BUS_SPEED_DATA.merge(NODE_ID, left_on = 'START_NODE_ID', right_on = 'NODE_ID')
# BUS_SPEED_DATA_MERGE.rename(columns = {'geometry' : 'START_NODE_GEOMETRY'}, inplace = True)
# BUS_SPEED_DATA_MERGE = BUS_SPEED_DATA_MERGE[['YMD_ID', 'HH_ID', 'BUS_ROUTE_ID', 'DAY_CLS', 'START_NODE_ID', 'START_NODE_GEOMETRY', 'END_NODE_ID', 'TRVL_SPD', 'TRVL_TM']]
# # END_NODE_GEOMETRY MERGE
# BUS_SPEED_DATA_MERGE = BUS_SPEED_DATA_MERGE.merge(NODE_ID, left_on = 'END_NODE_ID', right_on = 'NODE_ID')
# BUS_SPEED_DATA_MERGE.rename(columns = {'geometry' : 'END_NODE_GEOMETRY'}, inplace = True)
# BUS_SPEED_DATA_MERGE = BUS_SPEED_DATA_MERGE[['YMD_ID', 'HH_ID', 'BUS_ROUTE_ID', 'DAY_CLS', 'START_NODE_ID', 'START_NODE_GEOMETRY', 'END_NODE_ID', 'END_NODE_GEOMETRY', 'TRVL_SPD', 'TRVL_TM']]

In [24]:
BUS_SPEED_DATA_30300037_MERGE

,YMD_ID,HH_ID,BUS_ROUTE_ID,DAY_CLS,START_NODE_ID,START_NODE_GEOMETRY,END_NODE_ID,END_NODE_GEOMETRY,TRVL_SPD,TRVL_TM
0,20220508,0,30300037,1501,1830007900,POINT (239073.789 414389.806),1830009400,POINT (238962.119 414625.872),19.2,49
1,20220508,1,30300037,1501,1830007900,POINT (239073.789 414389.806),1830009400,POINT (238962.119 414625.872),17.9,53
2,20220508,2,30300037,1501,1830007900,POINT (239073.789 414389.806),1830009400,POINT (238962.119 414625.872),17.4,54
3,20220508,3,30300037,1501,1830007900,POINT (239073.789 414389.806),1830009400,POINT (238962.119 414625.872),20.4,46
4,20220508,4,30300037,1501,1830007900,POINT (239073.789 414389.806),1830009400,POINT (238962.119 414625.872),20.4,46
...,...,...,...,...,...,...,...,...,...,...
907,20220508,19,30300037,1501,1870009100,POINT (237729.631 417946.207),1870009000,POINT (237296.969 417914.264),28.5,55
908,20220508,20,30300037,1501,1870009100,POINT (237729.631 417946.207),1870009000,POINT (237296.969 417914.264),26.8,59
909,20220508,21,30300037,1501,1870009100,POINT (237729.631 417946.207),1870009000,POINT (237296.969 417914.264),34.5,46
910,20220508,22,30300037,1501,1870009100,POINT (237729.631 417946.207),1870009000,POINT (237296.969 417914.264),31.2,51
911,20220508,23,30300037,1501,1870009100,POINT (237729.631 417946.207),1870009000,POINT (237296.969 417914.264),31.9,50

In [25]:
BUS_SPEED_DATA_30300037_MERGE = gpd.GeoDataFrame(BUS_SPEED_DATA_30300037_MERGE, geometry='START_NODE_GEOMETRY')

In [38]:
# BUS_SPEED_DATA_MERGE = gpd.GeoDataFrame(BUS_SPEED_DATA_MERGE, geometry='START_NODE_GEOMETRY')

In [26]:
from shapely.geometry import Point
from pyproj import Transformer

# 좌표계 변환
transformer = Transformer.from_crs(BUS_SPEED_DATA_30300037_MERGE.crs, 'EPSG:4326', always_xy=True)
BUS_SPEED_DATA_30300037_MERGE['START_NODE_GEOMETRY'] = BUS_SPEED_DATA_30300037_MERGE['START_NODE_GEOMETRY'].apply(lambda geom: Point(transformer.transform(geom.x, geom.y)))
BUS_SPEED_DATA_30300037_MERGE['END_NODE_GEOMETRY'] = BUS_SPEED_DATA_30300037_MERGE['END_NODE_GEOMETRY'].apply(lambda geom: Point(transformer.transform(geom.x, geom.y)))

In [40]:
# # 좌표계 변환
# transformer = Transformer.from_crs(BUS_SPEED_DATA_MERGE.crs, 'EPSG:4326', always_xy=True)
# BUS_SPEED_DATA_MERGE['START_NODE_GEOMETRY'] = BUS_SPEED_DATA_MERGE['START_NODE_GEOMETRY'].apply(lambda geom: Point(transformer.transform(geom.x, geom.y)))
# BUS_SPEED_DATA_MERGE['END_NODE_GEOMETRY'] = BUS_SPEED_DATA_MERGE['END_NODE_GEOMETRY'].apply(lambda geom: Point(transformer.transform(geom.x, geom.y)))

In [27]:
BUS_SPEED_DATA_30300037_MERGE

,YMD_ID,HH_ID,BUS_ROUTE_ID,DAY_CLS,START_NODE_ID,START_NODE_GEOMETRY,END_NODE_ID,END_NODE_GEOMETRY,TRVL_SPD,TRVL_TM
0,20220508,0,30300037,1501,1830007900,POINT (127.435 36.327),1830009400,POINT (127.434 36.329),19.2,49
1,20220508,1,30300037,1501,1830007900,POINT (127.435 36.327),1830009400,POINT (127.434 36.329),17.9,53
2,20220508,2,30300037,1501,1830007900,POINT (127.435 36.327),1830009400,POINT (127.434 36.329),17.4,54
3,20220508,3,30300037,1501,1830007900,POINT (127.435 36.327),1830009400,POINT (127.434 36.329),20.4,46
4,20220508,4,30300037,1501,1830007900,POINT (127.435 36.327),1830009400,POINT (127.434 36.329),20.4,46
...,...,...,...,...,...,...,...,...,...,...
907,20220508,19,30300037,1501,1870009100,POINT (127.420 36.359),1870009000,POINT (127.416 36.359),28.5,55
908,20220508,20,30300037,1501,1870009100,POINT (127.420 36.359),1870009000,POINT (127.416 36.359),26.8,59
909,20220508,21,30300037,1501,1870009100,POINT (127.420 36.359),1870009000,POINT (127.416 36.359),34.5,46
910,20220508,22,30300037,1501,1870009100,POINT (127.420 36.359),1870009000,POINT (127.416 36.359),31.2,51
911,20220508,23,30300037,1501,1870009100,POINT (127.420 36.359),1870009000,POINT (127.416 36.359),31.9,50

In [31]:
from shapely.geometry import Point
from shapely.geometry import LineString
import geopandas as gpd

# 좌표 변경 함수 정의
def swap_coordinates(geom):
    lon, lat = geom.x, geom.y
    return Point(lat, lon)  # 위도와 경도 순서를 바꾼다.

# GeoDataFrame 생성
gdf = gpd.GeoDataFrame(BUS_SPEED_DATA_30300037_MERGE, geometry='START_NODE_GEOMETRY')

# 좌표 변경 적용
gdf['START_NODE_GEOMETRY'] = gdf['START_NODE_GEOMETRY'].apply(swap_coordinates)
gdf['END_NODE_GEOMETRY'] = gdf['END_NODE_GEOMETRY'].apply(swap_coordinates)

gdf['line'] = gdf.apply(lambda row: LineString([row['START_NODE_GEOMETRY'], row['END_NODE_GEOMETRY']]), axis=1) #Create a linestring column

In [41]:
# from shapely.geometry import Point
# from shapely.geometry import LineString
# import geopandas as gpd

# # 좌표 변경 함수 정의
# def swap_coordinates(geom):
#     lon, lat = geom.x, geom.y
#     return Point(lat, lon)  # 위도와 경도 순서를 바꾼다.

# # GeoDataFrame 생성
# gdf = gpd.GeoDataFrame(BUS_SPEED_DATA_MERGE, geometry='START_NODE_GEOMETRY')

# # 좌표 변경 적용
# gdf['START_NODE_GEOMETRY'] = gdf['START_NODE_GEOMETRY'].apply(swap_coordinates)
# gdf['END_NODE_GEOMETRY'] = gdf['END_NODE_GEOMETRY'].apply(swap_coordinates)

# gdf['line'] = gdf.apply(lambda row: LineString([row['START_NODE_GEOMETRY'], row['END_NODE_GEOMETRY']]), axis=1) #Create a linestring column

In [1]:
# import folium
# from folium.plugins import TimestampedGeoJson

# m = folium.Map(location=[36.365, 127.352], tiles='cartodbdark_matter', zoom_start=11)

# # Linestring 생성 및 추가
# features = []

# for index, row in gdf.iterrows():
#     feature = {
#         "type": "Feature",
#         "geometry": {
#             "type": "LineString",
#             "coordinates": [
#                 [row['START_NODE_GEOMETRY'].y, row['START_NODE_GEOMETRY'].x],
#                 [row['END_NODE_GEOMETRY'].y, row['END_NODE_GEOMETRY'].x]
#             ]
#         },
#         "properties": {
#             "popup": f"Travel Speed: {row['TRVL_SPD']} km/h"
#         }
#     }
#     features.append(feature)

# geojson = {
#     "type": "FeatureCollection",
#     "features": features
# }

# TimestampedGeoJson(geojson).add_to(m)

# # 맵을 화면에 표시
# # m.save('map.html')  # HTML 파일로 저장하거나
# m

-----

In [45]:
BUS_SPEED_DATA_1 = BUS_SPEED_DATA[BUS_SPEED_DATA['BUS_ROUTE_ID']==BUS_SPEED_DATA['BUS_ROUTE_ID'].unique()[0]]
BUS_SPEED_DATA_1.head(3)

,YMD_ID,HH_ID,BUS_ROUTE_ID,DAY_CLS,START_NODE_ID,END_NODE_ID,TRVL_SPD,TRVL_TM
0,20220501,0,30300001,1501,1860001700,1860001500,16.1,50
1,20220501,0,30300001,1501,1860001500,1860001700,22.8,35
2,20220501,0,30300001,1501,1860001400,1860021600,16.0,40

In [46]:
# 문자형으로 변환해야 오류 안남
BUS_SPEED_DATA_1['START_NODE_ID'] = BUS_SPEED_DATA_1['START_NODE_ID'].astype(str)
BUS_SPEED_DATA_1['END_NODE_ID'] = BUS_SPEED_DATA_1['END_NODE_ID'].astype(str)

In [81]:
# START_NODE_GEOMETRY MERGE
BUS_SPEED_DATA_1_MERGE = BUS_SPEED_DATA_1.merge(NODE_ID, left_on = 'START_NODE_ID', right_on = 'NODE_ID')
BUS_SPEED_DATA_1_MERGE.rename(columns = {'geometry' : 'START_NODE_GEOMETRY'}, inplace = True)
BUS_SPEED_DATA_1_MERGE = BUS_SPEED_DATA_1_MERGE[['YMD_ID', 'HH_ID', 'BUS_ROUTE_ID', 'DAY_CLS', 'START_NODE_ID', 'START_NODE_GEOMETRY', 'END_NODE_ID', 'TRVL_SPD', 'TRVL_TM']]
# END_NODE_GEOMETRY MERGE
BUS_SPEED_DATA_1_MERGE = BUS_SPEED_DATA_1_MERGE.merge(NODE_ID, left_on = 'END_NODE_ID', right_on = 'NODE_ID')
BUS_SPEED_DATA_1_MERGE.rename(columns = {'geometry' : 'END_NODE_GEOMETRY'}, inplace = True)
BUS_SPEED_DATA_1_MERGE = BUS_SPEED_DATA_1_MERGE[['YMD_ID', 'HH_ID', 'BUS_ROUTE_ID', 'DAY_CLS', 'START_NODE_ID', 'START_NODE_GEOMETRY', 'END_NODE_ID', 'END_NODE_GEOMETRY', 'TRVL_SPD', 'TRVL_TM']]

In [82]:
BUS_SPEED_DATA_1_18 = BUS_SPEED_DATA_1_MERGE[BUS_SPEED_DATA_1_MERGE['HH_ID']==18]
BUS_SPEED_DATA_1_18.head()

,YMD_ID,HH_ID,BUS_ROUTE_ID,DAY_CLS,START_NODE_ID,START_NODE_GEOMETRY,END_NODE_ID,END_NODE_GEOMETRY,TRVL_SPD,TRVL_TM
18,20220501,18,30300001,1501,1860001700,POINT (230219.927 417498.789),1860001500,POINT (230432.592 417430.885),17.1,47
42,20220501,18,30300001,1501,1860001500,POINT (230432.592 417430.885),1860001700,POINT (230219.927 417498.789),33.1,24
66,20220501,18,30300001,1501,1860001400,POINT (230655.510 417356.462),1860021600,POINT (230693.308 417527.777),10.1,63
90,20220501,18,30300001,1501,1860023800,POINT (230763.838 417750.881),1860021600,POINT (230693.308 417527.777),39.6,21
114,20220501,18,30300001,1501,1860023800,POINT (230763.838 417750.881),1860026100,POINT (230835.975 417978.790),17.3,50

---

In [83]:
BUS_SPEED_DATA_1_18 = gpd.GeoDataFrame(BUS_SPEED_DATA_1_18, geometry='START_NODE_GEOMETRY')

In [85]:
from shapely.geometry import Point
from pyproj import Transformer

# 좌표계 변환
transformer = Transformer.from_crs(BUS_SPEED_DATA_1_18.crs, 'EPSG:4326', always_xy=True)
BUS_SPEED_DATA_1_18['START_NODE_GEOMETRY'] = BUS_SPEED_DATA_1_18['START_NODE_GEOMETRY'].apply(lambda geom: Point(transformer.transform(geom.x, geom.y)))
BUS_SPEED_DATA_1_18['END_NODE_GEOMETRY'] = BUS_SPEED_DATA_1_18['END_NODE_GEOMETRY'].apply(lambda geom: Point(transformer.transform(geom.x, geom.y)))

In [86]:
# from shapely.geometry import Point
# from shapely.geometry import LineString
# import geopandas as gpd

# # 좌표 변경 함수 정의
# def swap_coordinates(geom):
#     lon, lat = geom.x, geom.y
#     return Point(lat, lon)  # 위도와 경도 순서를 바꾼다.

# # GeoDataFrame 생성
# gdf = gpd.GeoDataFrame(BUS_SPEED_DATA_1_07, geometry='START_NODE_GEOMETRY')

# # 좌표 변경 적용
# gdf['START_NODE_GEOMETRY'] = gdf['START_NODE_GEOMETRY'].apply(swap_coordinates)
# gdf['END_NODE_GEOMETRY'] = gdf['END_NODE_GEOMETRY'].apply(swap_coordinates)

# gdf['line'] = gdf.apply(lambda row: LineString([row['START_NODE_GEOMETRY'], row['END_NODE_GEOMETRY']]), axis=1) #Create a linestring column